@import '../../../styles/styles.scss';

.header {
   &_left {
      display: flex;
      @include adaptive-value(gap, 53, 20, 1);
      flex-grow: 0;
      flex-shrink: 1;
      @include adaptive-value(flex-basis, 700, 500, 1);
   }
   &_logo {
      &__description {
         display: none;
      }
   }
   @media (max-width: em(890)) {
      &_logo {
         &__img {
            max-width: 40px;
            overflow: hidden;
            img {
               min-width: 140px;
            }
         }
      }
   }
   @media (max-width: em(850)) {
      &_left {
         justify-content: space-between;
         flex-grow: 1;
      }
   }
   @media (max-width: em(576)) {
      background-color: black;
      &_left {
         justify-content: center;
         font-size: 14px;
      }
   }
   @media (min-width: em(890)) {
      &_logo {
         flex: 0 1 165px;
         display: flex;
         flex-direction: column;
         gap: 10px;
         &__description {
            display: block;
            max-width: 150px;
            font-weight: 300;
            font-size: 10px;
            line-height: 12px;
            font-size: 'Montserrat', sans-serif;
         }
      }
   }
}
